.Dashcontainer{
    height: auto;
    padding-top: 12vh;
    width: 100%;
}
.dbox{
    width: 100%;
    height: 100%;
    display: flex;
}
.d1{
    width: 10%;
    border-right: 1px solid gray;
    margin-top: 1vh;
}
.d2{
    width: 80%;
    height: 100%;
    
}
.d2Title{
    margin-top: 24px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.d2Ul{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.d2Ul li{
    list-style: none;
    height: 40vh;
    width: 40vh;
    margin-left: 10px;
    margin-bottom: 10px;
}
.d3{
    width: 20%;
    height: 100%;
}
.dcontent{
    width: auto;
    height: auto;
    padding: 20px;
    position: fixed;
}
.dcontent ul{
    padding: 0;
    margin-top: 20px;
}
.dcontent ul li{
    list-style: none;
    margin-bottom: 10px;
}
.dcontent ul li a{
    color: white;
    text-decoration: none;
}
.badge{
    background-color: rgb(18, 37, 23);
}
.d2Title strong {
    margin-left: 25px;
}
.dod{
    margin-top: -40px;
    position: absolute;
    padding: 10px;
    width: auto;
    display: flex;
}
@media only screen and (max-width:650px){
    .Dashcontainer{
        height: auto;
        margin-top: 0px !important;
    }
    .dbox{
        display: block;
        height: auto;
    }
    .d1{
        height: auto;
        width: 100%;
        margin-top: 0px;
        border-right: initial;
    }
    .d2{
        width: 100%;
        height: auto;
        margin-top: -20px;
        padding-left: 10px;
        padding-top: 15vh;
        
    }
    .dcontent{
        z-index: 999;
        background-color: white;
        height: auto;
        margin-top: -20px;
    }
    .d3{
        width: 100%;
        height: 40vh;
    }
    .dcontent ul{
        display: flex;
        flex-wrap: wrap; 
    }
    .dcontent ul li{
        margin-left: 10px;
        margin-top: -10px;
    }
    .dcontent strong{
        margin-left: 10px;
    }
    .d2Ul{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 0%;
    }
    .d2Title strong {
        margin-left: 1px;
    }
}