.content{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 20px;
    margin-top: 10px;
    padding-left: 20px;
}
.patbox{
    width: 90%;
    height: 70vh;
    margin: auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.patbox div{
    width: 50%;
    height: 80%;
    margin-left: 20px;
}
.patbox div div{
    width: 100%;
    height: 100%;
    justify-content: center;
    marker-start: 10px;
}
.patbox div img{
    width: 100%;
    height: 75%;
    border-radius: 45%;
}


.b2{
    width: 100%;
    height: 100%;
    align-items: center;
}
.article{
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: lightblue;
    border-radius: 20px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 650px) {
    .content{
        width: 98%;
        height: auto;
        display: block;
        padding-top: 20px;
        margin: auto;
        margin-top: 20px;
    }
    .b2{
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .patbox{
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .patbox div{
        width: 50%;
        height: 80%;
        margin-left: 20px;
        margin: auto;
    }
    .patbox div div{
        width: 100%;
        height: 100%;
        justify-content: center;
        marker-start: 10px;
    }
    
}