.navBar{
  width: 100% !important;
  height: auto;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(18, 37, 23);
  z-index: 999;
  font-family: "Baloo Bhaijaan 2", cursive;
  display: flex;
}

.fa-bars {
  cursor: pointer;
}
.barDiv {
  padding-left: 20px;
}
.linkDiv {
  display: flex;
}
.linkDiv button {
  margin-left: 10px;
}

.barDiv i {
  color: white;
}
.linkDiv ul {
  display: flex;
  vertical-align: baseline;
  margin-top: 10px;
}

.linkDiv ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  color: white;
}
.linkDiv ul li link {
  color: white;
}
.fa {
  font-size: 30px;
}

@media only screen and (max-width: 650px) {
  .navBar{
    width: 100% !important;
    height: auto;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: start;
  }
  .linkDiv {
    width: auto;
    align-items: center;
  }
  .barDiv {
    display: none;
  }
  .btnDiv {
    display: block;
  }
  .linkDiv ul {
    display: flex;
    width: auto;
    padding: 0;
    align-items: center;
  }
}
